<h1> Make Do Dane </h1>
<div class="row-fluid show-grid">
  <div class="span6">
  	<%= link_to "I'm an Artist", new_artist_path, class:"btn btn-landing btn btn-info" %>
  </div>
  <div class="span6">
  	<%= link_to "I'm a Landlord", new_landlord_path, class:"btn btn-landing btn-primary" %>
	</div>
</div>


